.location-item {
    height: 30px;
    /* list-style: none; */
    padding: 0;
    margin: 0 2.5em 0 0;
    cursor: pointer;
    color: #ddd;
    font-weight: bold;
}

.location-item  span {
    color: #747474;
    left: 0.5em;
}

.location-item:hover {
    color: #fff;
    left: 1em;
}

.location-item button {
    color: #747474;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px 5px;
    float: right;
    border-radius: 0px;
    border: 0 solid #000;
    padding: 1px 0 0 0;
    font-size: 16px;
}

.location-item button:hover {
    color: #949494;
}
